body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 40em;
}

#quote-container {
  min-height: 7em;
  font-size: 1.2em;
}

#quote {
  font-style: italic;
  line-height: 1.4em;
}

#author {
  font-weight: 700;
}